
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <div class="jumbotron">
        <h1>@ViewBag.Header</h1>
        <p>@ViewBag.Message</p>
        <p><a class="btn btn-primary btn-lg" href="/Admin/Index">На главную</a></p>
    </div>
</div>

