@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>
    <h3>Расписание сеансов</h3>


    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Название фильма</th>
                <th>Год выпуска</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cinema.Models.CinemaModels.Film b in ViewBag.Films)
            {
            <tr>
                <td>@b.Name</td>
                <td>@b.Year</td>
                <td><a href="/Home/Film/@b.Id">Перейти</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>