@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>
    <h3>Расписание сеансов</h3>


    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Название фильма</th>
                <th>Зал</th>
                <th>Время сеанса</th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in ViewBag.Sessions)
            {
            <tr>
                <td>@b.Name</td>
                <td>@b.Hall</td>
                <td>@b.Time</td>
                <td>@b.Price</td>
                <td><a href="/Home/Buy/@b.Id">Купить</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>